@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
:root{
    --green:#076a6a;
    --dark-blue:#101622;
    --black:#212129;
    --light:#f7f7f7;
    --br:0.5rem;
    --br-sm:0.3rem;
    --white:#fff;
    --inputs-color: #c7c7c7;
    --footer-bg:#040e18;
    --footer-heading:#07aebb;
    --footer-heading:#076a6a;;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}
a{
    text-decoration: none;
}
nav{
    /* background-color: var(--green); */
    padding: 0.75rem 0;
    box-shadow: 0 0 4px #0002;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.top-bar{
    background-color: var(--light);
    padding: 0.25rem 0;
    position: relative;
}
.tob-bar-flex{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
    align-items: center;
}
.top-bar-menu{
    list-style: none;
    display: flex;
    gap:1rem;
    align-items: center;
}
.top-bar-menu a{
    color: var(--black);
}
.tob-bar-flex span{
    color: var(--green);
}
.bg-green{
    background-color: var(--green);
    padding: 0.5rem 1rem;
    margin: -0.25rem 0 -0.25rem 0.5rem;
}
.bg-green a{
    color: var(--light);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
}
.top-nav-menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.nav-item{
    font-weight: 500;
}
.nav-item a{
    color: var(--dark-blue);
}
.nav-item a i{
    font-size: 0.8rem;
}
.right-menu .nav-item a i{
    font-size: 1.1rem;
}
.right-menu .nav-item a{
    text-align: center;
    display: inline-block;
}
.nav-link{
    font-size: 0.75rem;
    display: block;
}
.top-nav-form{
    margin: 0 1rem;
    border:1px solid #0003;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    position: relative;
}
.top-nav-form input{
    width: 100%;
    border: none;
    background-color: none;
    outline: none;
    box-shadow: none;
    padding-left: 1rem;
}
.top-nav-form .search-icon{
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}
h2{
    font-size: 2rem;
}
.py-1{
    padding-block: 0.75rem;
}
.py-3{
    padding-block: 1rem;
}
.py-4{
    padding-block: 3rem;
}
.grid-row{
    display: grid;
    gap: 1rem;
}
.grid-6{
    grid-template-columns: repeat(6, 1fr);
}
.grid-5{
    grid-template-columns: repeat(5, 1fr);
}
.grid-4{
    grid-template-columns: repeat(4, 1fr);
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-span-2{
    grid-column: span 2;
}
.place-items-center{
    align-items: center;
}
.lc-1,.lc-2,.lc-3,.lc-4,.lc-5,.lc-6{
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.lc-1{
    -webkit-line-clamp: 1;
}
.lc-2{
    -webkit-line-clamp: 2;
}
.lc-3{
    -webkit-line-clamp: 3;
}
.lc-4{
    -webkit-line-clamp: 4;
}
.lc-5{
    -webkit-line-clamp: 5;
}
.lc-6{
    -webkit-line-clamp: 6;
}

.guarantee-card{
    display: flex;
    gap:0.75rem;
    align-items: center;
}
.guarantee-icon{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 1.25rem;
    border-radius: 50%;
}
.guarantee-content{
    width: calc(100% - 3.75rem);
}
.hero-section{
    background-image: url('../images/sider-1.avif');
    background-size: cover;
    padding: 5rem 0;
    position: relative;
    background-position: center;
    /* color: var(--white); */
}
.hero-section .grid-span-2{
    color: var(--light);
}
.hero-section *{
    position: relative;
}
.hero-section h1{
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
    color: var(--white);
}
.hero-section h3{
    color: var(--light);
    font-weight: 700;
    font-size: 1.75rem;
    margin: 1.5rem 0;
}
.hero-section::before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--dark-blue), transparent);
    opacity: 0.95;
    position: absolute;
    left: 0;
    top: 0;
}
.home-calc{
    position: relative;
}
.home-calc form{
    background-color: var(--white);
    box-shadow: 0 0 10px #0004;
    border-radius: var(--br);
    padding: 1rem;
    width: 300px;
    max-width: 100%;
}
.home-calc form select{
    width: 100%;
    border-radius: var(--br-sm);
    border: none;
    padding: 0.65rem;
    margin: 0 0 0.75rem;
    outline:none;
    /* background-color: var(--inputs-color); */
}
.radio-flex{
    display: flex;
    background-color: var(--inputs-color);
    border-radius: 2rem;
}
.radio-flex .radio-group{
    width: 100%;
}
.radio-flex input{
    display: none;
}
.radio-flex label{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: block;
    border: 1px solid var(--inputs-color);
    color: var(--black);
    text-align: center;
}
.radio-flex input:checked + label{
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
}
.mt-1{
    margin-top: 0.5rem;
}
.hero-cards{
    list-style: none;
    max-width: 80%;
}
.hero-cards li{
    padding: 0.5rem;
    background-color: #fff6;
    border-radius: var(--br);
    backdrop-filter: blur(5px);
    display: flex;
    gap:0.5rem;
    align-items: center;
}
.hero-cards li .hc-icon{
    height: 2.5rem !important;
    width: 2.5rem !important;
    background-color: var(--green);
    color: var(--light);
    display: flex;
    border-radius: var(--br-sm);
    align-items: center;
    justify-content: center;
}
.hero-cards li .hc-content{
    width: calc(100% - 3rem);
    padding: 0;
    line-height: 1.5;
}
.btn{
    display: inline-block;
    border-radius: var(--br-sm);
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}
.btn-block{
    width: 100%;
    display: block;
    text-align: center;
}
.btn-green{
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}
.bg-light {
    background-color: var(--light);
}
.py-3{
    padding: 2rem 0;
}
.text-center{
    text-align: center;
}
.g-0{
    gap: 0;
}
.g-2{
    gap: 1.5rem;
}
.g-4{
    gap: 3rem;
}
.mb-2{
    margin-bottom: 1rem;
}
.mb-4{
    margin-bottom: 3rem;
}
.text-white{
    color: var(--white);
}
.text-light{
    color: var(--light);
}
.text-green{
    color: var(--green);
}
.vehicle-makes-card{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    /* border-bottom: 1px dashed var(--green);
    border-right: 1px dashed var(--green); */
    box-shadow: 0 0 20px #0001;
    background-color: var(--white);
    border-radius: var(--br);
    display: flex;
    gap: 1rem;
}
/* .vehicle-makes-card:nth-child(6n){
    border-right: none;
}
.vehicle-makes-card:nth-child(6n){
    border-right: none;
}
.vehicle-makes-card:nth-child(n + 7){
    border-bottom: none;
} */
.vehicle-makes-card .vmc-logo{
    width: 4rem;
}
.vmc-content{
    width: calc(100% - 5rem);
}
.vmc-content h3{
    font-weight: 800;
    color: var(--dark-blue);
}
.vmc-content p{
    font-weight: 400;
    color: #888;
}
.vehicle-makes-card img{
    width: 100%;
    max-height: 50px;
    object-fit: contain;
}
.mt-3{
    margin-top: 2rem;
}
.internal-link-card{
    width: 100%;
    min-height: 300px;
    border:1px solid var(--white);
    position: relative;
    overflow: hidden;
    display: block;
}
.internal-link-card:hover img{
    transform: scale(1.125);
}
.internal-link-card:first-child{
    border-top-left-radius: var(--br);
}
.internal-link-card:last-child{
    border-bottom-right-radius: var(--br);
}
.internal-link-card:nth-child(4){
    border-top-right-radius: var(--br);
}
.internal-link-card:nth-child(5){
    border-bottom-left-radius: var(--br);
}
.ilc-img{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease all;
}
.ilc-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--light);
    background-color: #101622aa;
    padding: 1rem;
}
.ilc-category{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--green);
    border-radius: var(--br-sm);
    padding: 0.25rem 0.5rem;
}
.ilc-content-txt{
    position: absolute;
    left: 0;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
.ilc-content-txt h3{
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
}
.ilc-content-txt p{
    font-size: 0.9rem;
    color: var(--light);
}
.testimonials{
    background-image: url('../images/testimonial.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.testimonials *{
    position: relative;
}
.testimonials::before{
    content: '';
    background-color: var(--footer-bg);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}
.testimonial-card{
    background-color: #fff4;
    color: var(--white);
    padding: 1.5rem;
    border-radius: var(--br);
    backdrop-filter: blur(20px);
    position: relative;
}
.testimonial-card::before{
    content: '\201C';
    position: absolute;
    color: var(--light);
    left: 0.25rem;
    opacity: 0.125;
    top: 0;
    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    font-family: sans-serif;
}
.tc-header{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}
.tc-footer{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px dashed #fff5;
    padding-top: 1rem;
    font-size: 0.9rem;
}
.tch-title{
    display: block;
    /* color: var(--dark-blue); */
    font-weight: 600;
}
.tch-stars{
    font-size: 0.7rem;
    color: gold;
}
.carousel{
    position: relative;
    padding-bottom: 3rem;
}
.carousel::before,.carousel::after{
    content: '';
    height: 1rem;
    width: 1rem;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.carousel::before{
    left: -2rem;
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
}
.carousel::after{
    right: -2rem;
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.carousel-pagination{
    position: absolute;
    left: 50%;
    bottom: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    transform: translateX(-50%);
}
.carousel-pagination li{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 1px solid var(--white);
}
.carousel-pagination li.active{
    background-color: var(--white);
    /* height: 8px;
    width: 8px; */
    /* border: none !important; */
}
.sub-heading{
    position: relative;
    text-align: center;
    margin: 0 auto 2rem;
    width: max-content;
}
.sub-heading::before,.sub-heading::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
    height: 1px;
    width: 100%;
}
.sub-heading::before{
    left: calc(-100% - 0.5rem);
}
.sub-heading::after{
    right: calc(-100% - 0.5rem);
}
.mx-2{
    margin: 0 0.5rem;
}
.text-end{
    text-align: right;
}


footer{
    color: var(--light);
    line-height: 2;
}
footer h3{
    color: var(--footer-heading);
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: max-content;
}
footer h3::before{
    content: '';
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, var(--green), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
}
footer ul{
    list-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
footer a{
    color: var(--footer-heading);
    font-weight: 600;
}
footer a:hover{
    color: var(--white);
}
.main-footer{
    background-color: var(--footer-bg);
}
.contact-flex{
    display: flex;
    gap:0.75rem;
    margin-bottom: 0.75rem;
}
.contact-flex:last-of-type{
    margin-bottom: 0;
}
.cf-icon{
    color: var(--green);
    width: 2rem;
    font-size: 2rem;
    line-height: 1.4;
}
.cf-content{
    width: var(100% - 2.75rem);
}
.cf-content small{
    font-size: 0.75rem;
    line-height: 1;
    color: #888;
    display: block;
}
.cf-content span{
    color: var(--white);
}
.footer-socials{
    display: flex;
    gap:1rem;
    justify-content: center;
}
.footer-socials a{
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: #fff2;
    border-radius: var(--br-sm);
    line-height: 0;
}
.copyright{
    background-color: var(--dark-blue);
}

